<mat-grid-list cols="1" rowHeight="4:1">
  <div class="header">

    <h1>Usuários</h1>

    <button mat-raised-button color="primary" (click)="mostrarFormulario()">Novo</button>
  </div>
  <mat-grid-tile *ngIf="!exibirFormulario" class="my-grid-tile">

      <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" >
        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
            <mat-cell *matCellDef="let usuario">{{ usuario.nome }}</mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let usuario">{{ usuario.email }}</mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
          <mat-row *matRowDef="let row; columns: colunas"></mat-row>
      </table>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="exibirFormulario">
    <h2>Novo Usuário</h2>
    <mat-form-field>
      <input matInput [(ngModel)]="novoUsuario.nome" placeholder="Digite o nome">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="novoUsuario.nome" placeholder="Digite o nome">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="adicionarUsuario()">Salvar</button>
  </mat-grid-tile>
    
</mat-grid-list>